<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/views/style.css">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="./views/images/tmbd.png">
    <title>Movie Recommendation</title>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                <li><a href="/auth/logout">Log out</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
                    <% if (user) { %>
                    <form id="form">
                        <label for="usrinput">Movie Input:</label>
                        <input id="usrinput" type="text" name="movie" placeholder="Search">
                        <input type="submit" value="Look Up" id="searchButton">
                        <% if (user) { %>
                        <input type="hidden" id="userId" value="<%= user.googleId %>">
                        <% } %>
                    </form>
                    <% } else { %>
                    <% } %>
            </ul>
        </nav>
        <!-- Only showing logging suggestion for users when not Logged In-->
        <% if (user) { %>
            <% } else { %>
                <h1> Log in to search for the movies you want!
                </h1>
            <% } %>
        <% if (user) { %>
            <main id="main">
                <div class="movie">
                    <img src="https://source.unsplash.com/random/400x200/?wallpaper,landscape" alt="image">
                    <div class="movie-info">
                        <h3>Movie Title</h3>
                        <span class="green">9.8</span>
                    </div>
                    <div class="overview">
                        <h3>Summary</h3>
                        Lorem Ipsums jfiosdjfodsjofi
                    </div>
                </div>
                <div class="movie">
                    <img src="https://source.unsplash.com/random/400x200/?wallpaper,landscape" alt="image">
                    <div class="movie-info">
                        <h3>Movie Title 2</h3>
                        <span class="green">9.8</span>
                    </div>
                    <div class="overview">
                        <h3>Summary</h3>
                        Lorem Ipsums jfiosdjfodsjofi
                    </div>
                </div>
                <div class="movie">
                    <img src="https://source.unsplash.com/random/400x200/?wallpaper,landscape" alt="image">
                    <div class="movie-info">
                        <h3>Movie Title 3</h3>
                        <span class="green">9.8</span>
                    </div>
                    <div class="overview">
                        <h3>Summary</h3>
                        Lorem Ipsums jfiosdjfodsjofi
                    </div>
                </div>
            </main>
        <div class="container">
            <!-- <h1>Simple POST Form</h1>
            <form>
                <label for="usrinput">Movie Input:</label>
                <input id="usrinput" type="string" name="movie">
                <input type="submit" value="Look Up" id="searchButton">
            </form>-->
            <ul class="result"></ul>
        </div>
        <% } else { %>
        <% } %>
        <script>const userId = '<%= user ? user.googleId : null %>';</script>


    <script src="/views/scripts/card-funcs.js" type="module"></script>
    <script src="/views/scripts/script.js" type="module"></script>
    <script src="/views/scripts/youtube.js" type="module"></script>
    </body>
</html>
