<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Personality test and Movie recommendation</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
                background: #7b7e9e;
            }
            nav{
                background: #6067c2;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
            .button {
                display: inline-block;
                padding: 12px 24px;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                color: #FFFFFF;
                background-color: #2E2E2E;
                border-radius: 4px;
                transition: all 0.2s ease-in-out;
            }
        
            .button:hover {
                background-color: #FFFFFF;
                color: #2E2E2E;
            }
            
            nav a {
                color: #FFFFFF;
                font-size: 18px;
                text-decoration: none;
                padding: 10px;
                border-radius: 4px;
                transition: all 0.2s ease-in-out;
            }

        nav a:hover {
            background-color: #FFFFFF;
            color: #2E2E2E;
        }

        </style>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                <li><a href="/auth/logout">Log out</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
        <h1> Log in to search for the movies you want!
        </h1>
        <% if (user) { %>
        <div class="container">
            <h1>Simple POST Form</h1>
            <form>
                <label for="usrinput">Movie Input:</label>
                <input id="usrinput" type="string" name="movie">
                <input type="submit" value="Look Up" id="searchButton">
            </form>
            <ul class="result"></ul>
        </div>
        <% } else { %>
        <% } %>
        <script>
        let searchButton = document.querySelector("input[type='submit']");
        searchButton.addEventListener("click", (event) => {
            event.preventDefault();
            let searchInput = document.querySelector("#usrinput");
            const query = searchInput.value;
            const SEARCH_URL = "https://api.themoviedb.org/3/search/movie?api_key=b9ab825c6c7df22351f2927746188d59&query=$%7Bquery%7D"
            const API_KEY = "b9ab825c6c7df22351f2927746188d59"
            const resultsList = document.querySelector(".result");
            console.log(API_KEY) 
            console.log(SEARCH_URL)
            const url = `${SEARCH_URL}?api_key=${API_KEY}&query=${query}`;
            fetch(url)
            .then((response) => response.json())
            .then((data) => {
                resultsList.innerHTML = "";
                data.results.forEach((result) => {
                const li = document.createElement("li");
                const title = document.createElement("h2");
                const overview = document.createElement("p");
                title.textContent = result.title;
                overview.textContent = result.overview;
                li.appendChild(title);
                li.appendChild(overview);
                resultsList.appendChild(li);
                });
            })
            .catch((error) => console.error(error));
        });
        </script>
    </body>
</html>
